@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1 class="display-4">Welcome To your accounting web Site</h1>
    <p>With This Web site you can manage your busines accounting or your cafe and resturant getting orders with <a href="#">using our android aplication</a>.</p>
</div>
